@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--bg-color1: rgb(37, 44, 51);
	--bg-color2: rgb(188, 212, 233);
	--bg-gradient: linear-gradient(90deg, rgba(255, 242, 197, 1) 0%, rgba(190, 238, 242, 1) 50%, rgba(215, 236, 250, 1) 100%);
	--main-color1: rgb(211, 175, 55);
	--main-color2: rgb(0, 190, 216);
	--bg-img1: url('../../assets/images/bg-many_motos.jpg');
	--bg-img2: url('../../assets/images/Types-of-Motorcycles.jpg');
	--bg-grad-main: url('../../assets/images/Rectangle hero.png');
	--font-first: 'Inter', sans-serif;
	--font-second: 'Merriweather', serif;
	--v-medium-emphasis-opacity: 1 !important;


}
body{
	font-family: var(--font-first);
	color: var(--main-color1);
}
h1, h2, h3, h4 {
	font-family: var(--font-second);
	font-style: italic;
}
.button{
	background-color: var(--main-color1);
	color: var(--bg-color1);
	font-weight: 600;
	transition: all .3s ease-in;
	&:hover {
		background-color: var(--main-color2);
		transform: scale(0.97);
	}
}
.wrapper{
	max-width: 80em;
	min-height: 100%;
	margin: 0 auto .25em;
	border-radius: 10px;
}
.navbar, .main, .filters, .gallery, .login, .footer{
	background-color: var(--bg-color1);
	color: var(--main-color1);
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	margin: 0 auto;
	padding: 1rem 0;
	justify-content: center;
	position: relative;
	min-height: 15em;
}
.nothingFound
{
	font-size: 1.5rem;
	min-width: 50%;
	background-color: var(--bg-color1);
	text-align: center;
	margin: 3em;
	padding: 2em;
	border-radius: 10px;
	place-self: start;
}
